*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;   
    background-color: #fbf8f5;
}


.is-flex {
    display: flex;
}


.theme-wrapper {
    height: 100vh;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.flipbook {
    width: 1240px;  
    height: 444.3px;
}

main {
    margin-top: 120px;
    
}

.min-page {
    min-height: calc(100vh - 177.5px);
}

h1 {
    text-transform: uppercase;
    font-size: 4.2rem;
}

h2 {
    font-size: 1.2rem;
    padding: 2rem 0;
}

/*----------------------------------
// Footer-right
----------------------------------*/
.ftr-right img {
    margin-left: 2.2rem;
}

.ftr-right img:hover {
    transform: scale(1.1);
}

.ftr-right .social-icons {
    display: flex;
    align-items: center;
}

.ftr-right .email {
    display: flex;
    align-items: center;
    color: #fff; 
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "IBM Plex Mono", monospace;
}

.ftr-right .email:hover {
    transform: scale(1.1);
}

.copyright strong:hover {
    transform: scale(1.1);
}


/*----------------------------------
// Global Navigation
----------------------------------*/

header{
    margin-top: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    width: 18%;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav {
    flex-basis: calc(100% - 36px);
    max-width: calc(100% - 38px);
    display: flex; 
    justify-content: flex-end; 
}

nav a{
    font-size: 1.9rem;
    color: #3c2e3d;
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #5895df;
    border-bottom: 3px solid #5895df;
    font-style: italic;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: grid;
        top: -30px;
        right: 0;
        width: 0%;
        border-left: 0px solid #5895df;
        border-bottom: 0px solid #5895df;
        padding: 1rem;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #5895df;
    }
}

/*----------------------------------
// Gallery
----------------------------------*/

.book-cover {
    justify-content: center;
    width: 30%;
}

.flipbook .hard {
    background: #6a9ede!important;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    border: none; 
}


.player {
    aspect-ratio: 16/9;
    width: 100%;
}

.key-words {
    display: flex;
    text-transform: uppercase;
    padding: 2rem 0;
}


.key-words li {
    border-radius: 25px;
    border: 2px solid #e8622f;
    margin-right: 1.2rem;
    padding: 0.5rem;
}

.role {
    color: #ffff;
    background-color: #e8622f;
}

.description {
    width: 60%;
    margin-bottom: 1.4rem;
}

/*--------*/

.flipbook .page {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.flipbook .page small{
    font-size: 14px;
    margin-bottom: 10px;
}

/*----Hot spot----*/
.markers {
    background: rgba(255,255,255,.7);
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    animation: ownpulse 3s cubic-bezier(.19,1,.22,1) infinite both;
    position: relative;
    transform: translate(20px, -155px);
}

.markers:focus-within .marker__card, .markers:focus .marker__card {
    display: block;
}

/* animations */
@keyframes ownpulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff;
        box-shadow: 0 0 0 0 #fff;
    }
    50% {
        -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
        box-shadow: 0 0 0 40px rgba(92,112,214,0);
    }
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff;
        box-shadow: 0 0 0 0 #fff;
    }
    50% {
        -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
        box-shadow: 0 0 0 40px rgba(92,112,214,0);
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
        -webkit-transform: scale3d(.3,.3,.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
    -webkit-transform: scale3d(.3,.3,.3);
    -webkit-transform: translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

.underline {
    margin: 1.2rem 0;
}

/*----------------------------------
// Footer
----------------------------------*/
.ftr {
    position:absolute;
    background-color: #3c2e3d;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
}
.ftr-container {
    max-width: 1240px;
    margin: 0 auto;
}

.ftr p {
    color: #fff;
    font-size: 1.5rem;
}

.copyright strong {
    color: #fff; 
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "IBM Plex Mono", monospace;
}

.ftr-right {
    flex-basis: calc(100% - 350px);
    display: flex;
    justify-content: flex-end;
}

.ftr-right .social-icons {
    display: flex;


