

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;  
    background-color: #fbf8f5;
    background-image: linear-gradient(0deg, #fbf8f5 0%, #e3eeff 33%, #e3eeff 66%, #e3eeff 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 320px;
    /*-------
    min-height: 100%; 
    margin: 0;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-repeat: no-repeat;  
    background-size: cover; 
    -------*/
}


.is-flex {
    display: flex;
}


.theme-wrapper {
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h4 {
    font-size: 1rem;
}

/*----------------------------------
// Footer-right
----------------------------------*/
.ftr-right img {
    margin-left: 2.2rem;
}

.ftr-right img:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.ftr-right .social-icons {
    display: flex;
    align-items: center;
}

.ftr-right .email {
    display: flex;
    align-items: center;
    color: #fff; 
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "IBM Plex Mono", monospace;
}

.ftr-right .email:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

/*----------------------------------
// Global Navigation
----------------------------------*/

header{
    margin-top: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    width: 18%;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav {
    flex-basis: calc(100% - 36px);
    max-width: calc(100% - 38px);
    display: flex; 
    justify-content: flex-end; 
}

nav a{
    font-size: 1.9rem;
    color: #3c2e3d;
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #5895df;
    border-bottom: 3px solid #5895df;
    font-style: italic;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: grid;
        top: -30px;
        right: 0;
        width: 0%;
        border-left: 0px solid #5895df;
        border-bottom: 0px solid #5895df;
        padding: 1rem;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #5895df;
    }
}



.home {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

/*----------------------------------
// Home_About Me
----------------------------------*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.banner-bg {
    position: relative;
}

.home-content {
    position: absolute;
    top: -17%;
    padding: 211px;
}

.home .home-content h1{
    font-family: "IBM Plex Mono", monospace;
    color: #3c2e3d;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3;
}
.bio {
    margin-top: 3rem;
}
span{
    color: #ff7d00;
}

.home-content h3{
    color: 3c2e3d;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.home-content p{
    color: 3c2e3d;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.6rem;
}

.proj-heading {
    position: absolute;
    top: 95%;
    font-size: 1.8rem;
    font-weight: 700;
    color: #9c9892;
    text-transform: uppercase;
}


/*----------------------------------
// Projects
----------------------------------*/
#projects {
    margin-top: 20rem;
    height: 1190px;
}

.project-grid {
    column-count: 2;
    column-gap: 50PX;
}

li .works .is-flex {
    align-content: center;
}

.project-img {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 15px;
    width: 95%;
}

.project-img img {
    cursor: pointer;
    overflow: hidden;
}

.project-img:hover img {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}


.projects li {
    margin-bottom: 4rem;
    overflow: hidden;
    position: relative;
}

.project-info {
    align-content: center;

}

h2 {
    font-size: 55px;
    margin-bottom: 24px;
}


.project-info h3 {
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #9c9892;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
}

.project-info h4 {
    font-size: 2.5rem;
}

.project-info h5 {
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}




/*----------------------------------
// Footer
----------------------------------*/
.ftr {
    background-color: #3c2e3d;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
}
.ftr-container {
    max-width: 1240px;
    margin: 0 auto;
}

.ftr p {
    color: #fff;
    font-size: 1.5rem;
}

.copyright strong {
    color: #fff; 
    font-weight: 700;
    font-family: "IBM Plex Mono", monospace;
}

.ftr-right {
    flex-basis: calc(100% - 350px);
    display: flex;
    justify-content: flex-end;
}

.ftr-right .social-icons {
    display: flex;

