*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;   
    background-color: #fbf8f5;
    padding-top: 120.5px;
}


.is-flex {
    display: flex;
}


.theme-wrapper {
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    min-height: calc(100% - 83.8px - 120.5px);
}

h1 {
    text-transform: uppercase;
    font-size: 4.2rem;
}

h2 {
    font-size: 2.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    padding-right: 0;
    padding-right: 0;
    font-weight: 600;
}

h4 {
    font-size: 1.3rem;
    padding-top: 1rem;
    text-align: center;
    color: #8f8390;
}

section {
    padding-top: 3rem;
}

section img {
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 2rem 0;
}


/*----------------------------------
// Footer-right
----------------------------------*/
.ftr-right img {
    margin-left: 2.2rem;
}

.ftr-right img:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.ftr-right .social-icons {
    display: flex;
    align-items: center;
}

.ftr-right .email {
    display: flex;
    align-items: center;
    color: #fff; 
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "IBM Plex Mono", monospace;
}

.ftr-right .email:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}


/*----------------------------------
// Global Navigation
----------------------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(2px);
}


.logo{
    width: 18%;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav {
    flex-basis: calc(100% - 36px);
    max-width: calc(100% - 38px);
    display: flex; 
    justify-content: flex-end; 
}

nav a{
    font-size: 1.9rem;
    color: #3c2e3d;
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #5895df;
    border-bottom: 3px solid #5895df;
    font-style: italic;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: grid;
        top: -30px;
        right: 0;
        width: 0%;
        border-left: 0px solid #5895df;
        border-bottom: 0px solid #5895df;
        padding: 1rem;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #5895df;
    }
}

/*----------------------------------
// Sidebar
----------------------------------*/
.sidebar {
    align-items: left;
    justify-content: left;
    margin-left: 50px;
    position: fixed;
    display: inline-block;
    z-index: 10;
    padding-top: 130px;
}

.sidebar li a {
    color: #3c2e3d;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2;
    color: #9c9892;
}

.sidebar li a:hover {
    color: #d1a0ff;
}

/*----------------------------------
// All Project Setting
----------------------------------*/
#overview {
    background-color: #e3eeff;
    padding-bottom: 1.2rem;
}

section P {
    width: 60%;
    font-size: 1.7rem;
    font-weight: 400;
}

h3 {
    font-size: 1.7rem;
    color: #d1a0ff;
    padding: 2rem 0;
    font-weight: 500;
    text-transform: uppercase;
}

.slider h2 {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
    padding-right: 0;
    padding-right: 0;
    font-weight: 500;
}

.player {
    aspect-ratio: 16/9;
    width: 100%;
    padding: 1.3rem 0;
}

.project-intro {
    width: 60%;
}

.intro {
    width: 90%;
}

.key-words {
    width: 75%;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    display: grid;
    text-transform: capitalize;
}

.key-words p {
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rm 0;
}

.key-words li {
    margin-right: 1.2rem;
}

.key-words a {
    font-weight: 500;
    color: #3c2e3d;
    border-bottom: 1.5px solid #5895df;
}

.role {
    color: #ffff;
    background-color: #e8622f;
}

.description {
    margin-bottom: 1.4rem;
}

.description a {
    font-weight: 500;
    color: #3c2e3d;
    border-bottom: 2px solid #5895df;
}


/*----------------------------------
// Other Projects
----------------------------------*/

.other-projects {
    margin-bottom: 6rem;
}

.other-projects ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 3fr);
    grid-gap: 3rem;
}


.other-projects li a{
    font-weight: 700;
    text-transform: capitalize;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.8rem;
    color: #8f8390;    
}

.other-projects li:hover {
    transform: scale(0.9);
    transition: .5s ease-in-out;
}

.other-projects li a:hover { 
    color: #d1a0ff;
}

/*----------------------------------
// Live Demo Btn
----------------------------------*/

.link {
  height: 30px;
  align-items: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 21px;
  line-height: 20px;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #f8f8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

/*----------------------------------
// FNHA WEBSITE
----------------------------------*/

span {
  content: "\2197";
}

.card-1 {
    width: 100%;
}

.card-2 {
    column-count: 3;
    column-gap: 2rem;
}

.card-3 {
    column-count: 2;
    column-gap: 2rem;
    width: 65%;
    margin: -8% 16%;
    padding-bottom: 10rem;
}


/*----------------------------------
// Sandtray
----------------------------------*/
.research p a {
    font-style: italic;
    font-weight: 500;
    color: #3c2e3d;
    border-bottom: 2px solid #5895df;
}

.prototype p a {
    font-style: italic;
    font-weight: 500;
    color: #3c2e3d;
    border-bottom: 2px solid #5895df;
}

.takeaways p {
    margin-bottom: 1rem;

}

/*----------------------------------
// Stevenson Life Gift shop
----------------------------------*/
.card-5 {
    column-count: 2;
    column-gap: 1.5rem;
    max-width: 100%;
}

#overview .intro p {
    margin-bottom: 1.5rem;
}


/*----------------------------------
// Work Sample
----------------------------------*/
.posts {
    column-count: 4
}

.img-content {
    flex-flow: column;
    display: flex
}

.img-content h4 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}

.img-content p {
    font-size: 2rem;
    font-weight: 700;
}

.work-sample {
    grid-column-gap: 1.25rem;
    grid-row-gap: 4.8rem;
    flex-flow: wrap;
    display: flex
}

.work-wrapper img {
    column-count: 2;
}

.sticker-column {
  display: flex;
  gap: 2rem;
}

/*----------------------------------
// Progress bar
----------------------------------*/

.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background-color: #bc82df;
  transition: all 0.3s ease;
}


/*----------------------------------
// Footer
----------------------------------*/
.ftr {
    background-color: #3c2e3d;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
}
.ftr-container {
    max-width: 1240px;
    margin: 0 auto;
}

.ftr p {
    color: #fff;
    font-size: 1.5rem;
}

.copyright strong {
    color: #fff; 
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "IBM Plex Mono", monospace;
}


.ftr-right {
    flex-basis: calc(100% - 350px);
    display: flex;
    justify-content: flex-end;
}

.ftr-right .social-icons {
    display: flex;


